.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

input[type="submit"] {
  border-radius: 3px;
  border: 1px;
  margin-left: 10px;
  cursor: pointer;
}
input[type="submit"] :hover {
  background: red;
}
