.type {
  display: block;
  border-radius: 30px;
  background-color: #04009a;
  width: auto;
  margin: 2px 2px 2px 2px;
  border: 2px #77acf1 solid;
  padding: 10px;
  font-weight: bold;
}
.container_pokemon {
  display: block;
  border-radius: 30px;
  background-color: linear-gradient(#77acf1, #04009a);
  width: auto;
  height: auto;
  color: white;
  box-shadow: 3px 3px 3px 3px rgb(35, 35, 35);
}
.container_pokemon h2 {
  color: black;
}
.container_type {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.img_pokemon {
  width: 400px;
  height: 350px;

  background: linear-gradient(#77acf1, #04009a);
  /*border: 2px solid black;*/
  border-radius: 30px 30px 1px 1px;
  margin-left: 0px;
  margin-right: 00px;
}
