.type {
  display: block;
  border-radius: 30px;
  background-color: #04009a;
  width: auto;
  margin: 2px 2px 2px 2px;
  border: 2px #77acf1 solid;
  padding: 10px;
  font-weight: bold;
}
.container_pokemon {
  display: block;
  border-radius: 15px;
  background: linear-gradient(#04009a, #77acf1);
  width: auto;
  height: auto;
  color: #fff;
  box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
}
.container_pokemon:hover {
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.container_pokemon h2 {
  color: black;
}
.container_type {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.img_pokemon {
  width: 400px;
  height: 350px;

  /*background: linear-gradient(#77acf1, #04009a);*/
  /*border: 2px solid black;*/
  border-radius: 30px 30px 1px 1px;
  margin-left: 0px;
  margin-right: 00px;
}
